<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Host</h4>
 </div>
<div class="modal-body">

{{#if errorState}}
    <p>{{errorMessage}}</p>
{{/if}}

    <form>
        <ul class="createServerInput">
            <li>
                <label for="hostUrl">Host Address:</label>
                {{input type="text" value=hostUrl placeholder="IP Address" }}
            </li>
            <li>
                <label for="hostName">Host Username:</label>
                {{input type="text" value=hostName placeholder="SSH Username" }}
            </li>
            <li>
                <label for="hostPassword">Host Password:</label>
                {{input type="password" value=hostPassword placeholder="SSH Password" }}
            </li>
        </ul>
        </div>
        <div class="modal-footer">
            <input type="submit" name="submit" id="add-server" value="Add Server" {{action createServer }} />
    </form>
</div>