<div class="overview-details">
    <div class="overview-header">
        <h4>Virtual Machine: <span>{{name}}</span></h4>
    </div>
    <div class="overview-inner">
        <dl>
            <dt>Name:</dt><dd>{{name}}</dd>
            <dt>Description:</dt><dd>{{description}}</dd>
            <dt>UUID:</dt><dd>{{uuid}}</dd>
            <dt>Power State:</dt><dd>{{power_state}}</dd>
        </dl>
    </div>
</div>
