<!--<ul>
    {{#each server in controller}}
    <li>{{server.hostUrl}} - {{#linkTo "servers.edit" server}}edit{{/linkTo}} - <button {{action "deleteServer" server}}>delete</button> - ({{server.versionMayor}}.{{server.versionMinor}}) {{server.version}}</li>
    {{/each}}
</ul>-->

<p>Please select a server from the menu on the right</p>