<form>
    <fieldset>
        <label for="hostUrl">Host Address:
        {{view App.ValidateTextField viewName="hostUrl" id="hostUrl" placeholder="IP Address" valueBinding="hostUrl"}}
        </label><span><i {{bindAttr class='hostUrlError:icon-error:icon-ok' }}></i></span>
        <label for="hostName">Host Username:
        {{view App.ValidateTextField viewName="hostName" id="hostName" placeholder="SSH Username" valueBinding="hostName"}}
        </label><span><i {{bindAttr class='hostNameError:icon-error:icon-ok' }}></i></span>
        <label for="hostPassword">Host Password:
        {{view App.ValidateTextField viewName="hostPassword" id="hostPassword" placeholder="SSH Password" valueBinding="hostPassword"}}
        </label><span><i {{bindAttr class='hostPasswordError:icon-error:icon-ok' }}></i></span>
        <input type="submit" name="submit" value="Submit" {{action createServer}} />
    </fieldset>
</form>