{{#if view.hasHosts}}
<div class="content-wrap extend">
    <div class="content-block extend">
        <h1>Notifications</h1>
        <div class="content-block-scroll">
        <ul>
            <li >
                <div class="notification-header">
                    <div class="notification-header-timestamp">Timestamp</div>
                    <div class="notification-header-name">Name</div>
                    <div class="notification-header-category">Category</div>
                    <div class="notification-header-body">Message</div>
                </div>
            </li>
            {{#if view.hasNotifications}}
                {{#each notification in controller}}
                    <li>
                        <div class="notification-content">
                            <div class="notification-content-timestamp">{{convertDate notification.timestamp}}</div>
                            <div class="{{notification.priority}} notification-content-name">{{notification.name}}</div>
                            <div class="notification-content-category">{{notification.category}}</div>
                            <div class="notification-content-body">{{notification.body}}</div>
                        </div>
                    </li>
                {{/each}}
            {{else}}
                <li>
                    <div></p>No notifications found.</p></div>
                </li>
            {{/if}}
        </ul>
        </div>
    </div>
</div>
{{else}}
<div class="content-wrap">
    <div class="content-block warning">
        <span class="warning-icon"></span>
        <p>Please add a server before continuing.</p>
    </div>
</div>
{{/if}}

